Source: ros-kilted-robstride-ros2
Section: misc
Priority: optional
Maintainer: "yamato" <ykturtler@outlook.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ros-workspace
Homepage: https://github.com/s2015-turtle/robstride_ros2
Standards-Version: 3.9.2

Package: ros-kilted-robstride-ros2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-robstride-driver, ros-kilted-robstride-examples, ros-kilted-robstride-ros2-control, ros-kilted-ros-workspace
Description: Aggregate installation package for the RobStride driver, ros2_control component, and examples.
