Source: ros-rolling-robstride-examples
Section: misc
Priority: optional
Maintainer: "yamato" <ykturtler@outlook.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-cmake-pytest <!nocheck>, ros-rolling-ros-workspace
Homepage: https://github.com/s2015-turtle/robstride_ros2
Standards-Version: 3.9.2

Package: ros-rolling-robstride-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-ament-index-python, ros-rolling-controller-manager, ros-rolling-forward-command-controller, ros-rolling-joint-state-broadcaster, ros-rolling-launch, ros-rolling-launch-ros, ros-rolling-robot-state-publisher, ros-rolling-robstride-ros2-control, ros-rolling-ros2-socketcan, ros-rolling-xacro, ros-rolling-ros-workspace
Description: Example descriptions, controller configuration, and launch files for RobStride.
